# Generated with protoc-gen-openapi
# https://github.com/google/gnostic/tree/master/cmd/protoc-gen-openapi

openapi: 3.1.0
info:
    title: Cursor Origin API
    description: Public third-party-facing Origin API. Each operation's `x-origin-scopes` extension lists the credential types that can call it in `tokenTypes` (`app`, `installation`, or `user`) and the scopes it requires in `scopes`; `ambient` set to true means every listed scope comes with the credential itself, so an app has nothing to request for it at installation. Each webhook payload schema's `x-origin-webhook-events` extension lists the event types that deliver that payload. `x-cursor-visibility` set to `PREVIEW` marks an operation, parameter, schema, or field that is published in preview and can change before it is generally available.
    version: v1alpha1
servers:
    - url: https://api.cursor.com
paths:
    /v1/origin/app:
        get:
            tags:
                - OriginService
            description: Returns metadata for the authenticated app.
            operationId: OriginService_GetAuthenticatedApp
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                getAuthenticatedApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The authenticated app no longer exists.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/installations:
        get:
            tags:
                - OriginService
            description: Lists installations for the authenticated app.
            operationId: OriginService_ListAppInstallations
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Max installations to return. Defaults to 30 when unset or 0. Values
                     above 100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAppInstallationsResponse'
                            examples:
                                listAppInstallations:
                                    value:
                                        installations:
                                            - id: inst_01k2ja2000e0080000000000b2
                                              appId: app_01k2ja2000e0080000000000a1
                                              target:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              createdAt: "2026-08-01T09:30:00Z"
                                              updatedAt: "2026-08-02T14:45:00Z"
                                              repoSelectionMode: selected
                                              scopes:
                                                - repository:contents:read
                                                - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/installations/{installationId}:
        get:
            tags:
                - OriginService
            description: Returns a single installation for the authenticated app.
            operationId: OriginService_GetAppInstallation
            parameters:
                - name: installationId
                  in: path
                  description: Installation identifier.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppInstallation'
                            examples:
                                getAppInstallation:
                                    value:
                                        id: inst_01k2ja2000e0080000000000b2
                                        appId: app_01k2ja2000e0080000000000a1
                                        target:
                                            slug: acme
                                            id: ns_01k2ja2000e0080000000000p3
                                            type: team
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        repoSelectionMode: selected
                                        scopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
        delete:
            tags:
                - OriginService
            description: Deletes an installation that belongs to the authenticated app.
            operationId: OriginService_DeleteAppInstallation
            parameters:
                - name: installationId
                  in: path
                  description: |-
                    The unique identifier of the installation to delete. Bound from the URL
                     path; the installation must belong to the authenticated app.
                  required: true
                  schema:
                    type: string
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:write
                ambient: true
    /v1/origin/app/installations/{installationId}/access_tokens:
        post:
            tags:
                - OriginService
            description: |-
                Creates an installation access token for the authenticated app.

                 Requires app signing-JWT authentication, like GetAuthenticatedApp. The
                 token is scoped to the named installation, which must belong to the
                 authenticated app.
                 Callers may attenuate the token to a subset of the installation's accepted
                 scopes and accessible repositories. The token expires after at most 15
                 minutes and never later than the app JWT that requested it (`expires_at`);
                 mint a new one rather than caching past that.
            operationId: OriginService_CreateInstallationAccessToken
            parameters:
                - name: installationId
                  in: path
                  description: |-
                    The unique identifier of the installation to scope the token to. Bound from
                     the URL path; the installation must belong to the authenticated app.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                scopes:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Scope strings to grant the token. Values must be unique and included in the
                                         installation's accepted scopes. Empty or omitted inherits the full scope grant.
                                repositoryIds:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Repository IDs to grant the token. Values must be unique, accessible to the
                                         installation, and contain at most 50 entries. Empty or omitted inherits all
                                         accessible repositories.
                        examples:
                            createInstallationAccessToken:
                                value:
                                    scopes:
                                        - repository:contents:read
                                        - repository:pull_requests:read
                                    repositoryIds:
                                        - repo_01k2ja2000e0080000000000q4
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InstallationAccessToken'
                            examples:
                                createInstallationAccessToken:
                                    value:
                                        token: oit_2v8xkq4m1c7p9t3w5y0z6r4b
                                        expiresAt: "2026-08-01T10:30:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
    /v1/origin/app/installations/{installationId}/user_access_tokens:
        post:
            tags:
                - OriginService
            description: |-
                Creates an installation user token for the authenticated app: a token that
                 acts as one member of the installation's namespace.

                 Requires app signing-JWT authentication, like CreateInstallationAccessToken.
                 The installation must belong to the authenticated app and must have been
                 granted `namespace:user_tokens:write`, or the call fails
                 PERMISSION_DENIED. Name the user by `user_id` or
                 `user_email`; a user that is unknown, ambiguous, or not a member of the
                 namespace fails PERMISSION_DENIED without saying which.

                 Requests made with the token are limited to what both the installation and
                 the user can access. Optional `scopes` and `repository_ids` narrow that
                 further; when both are set, every scope must be allowed on every listed
                 repository for both the installation and the user, or the call fails
                 PERMISSION_DENIED. Actors recorded for actions taken with the token name
                 the user, with `performed_via` identifying the app.

                 The token expires after at most 15 minutes and never later than the app
                 JWT that requested it (`expires_at`); mint a new one rather than caching
                 past that.
            operationId: OriginService_CreateInstallationUserToken
            parameters:
                - name: installationId
                  in: path
                  description: |-
                    The unique identifier of the installation to scope the token to. Bound from
                     the URL path; the installation must belong to the authenticated app.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                userId:
                                    type: string
                                    description: |-
                                        The user's `user_…` id, as returned in actor payloads. Set exactly one
                                         of `user_id` or `user_email`.
                                userEmail:
                                    type: string
                                    description: |-
                                        The user's account email, which must match exactly one member. Set
                                         exactly one of `user_id` or `user_email`.
                                scopes:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Scope strings that cap the token. Values must be unique and included in
                                         the installation's accepted scopes. `namespace:user_tokens:write`
                                         authorizes creating the token and cannot be delegated to it; requesting
                                         it fails INVALID_ARGUMENT. Empty or omitted leaves the token bounded by
                                         current access only.
                                repositoryIds:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Repository IDs that cap the token. Values must be unique, accessible to the
                                         installation, and contain at most 50 entries. Empty or omitted leaves the
                                         token bounded by current access only.
                        examples:
                            createInstallationUserToken:
                                value:
                                    userId: user_01k2ja2000e0080000000000c3
                                    scopes:
                                        - repository:pull_requests:reviews:write
                                    repositoryIds:
                                        - repo_01k2ja2000e0080000000000q4
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InstallationUserToken'
                            examples:
                                createInstallationUserToken:
                                    value:
                                        token: YOUR_INSTALLATION_USER_TOKEN
                                        expiresAt: "2026-08-01T10:30:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:metadata:read
                ambient: true
                installationScopes:
                    - namespace:user_tokens:write
    /v1/origin/app/webhook/deliveries:
        get:
            tags:
                - OriginService
            description: |-
                Lists webhook deliveries for the authenticated app, newest first.

                 A delivery is one event owed to one app; its id is the `webhook-id`
                 header value the receiver sees. `delivered=false` is the recovery
                 predicate: every delivery the receiver has never acknowledged with a 2xx,
                 regardless of where retries stand.

                 Deliveries are listable for 7 days after creation, and only while the app
                 has an active installation in the delivery's namespace. App-targeted
                 lifecycle events (for example `installation.deleted`) stay visible after
                 the uninstall they describe.
            operationId: OriginService_ListWebhookDeliveries
            parameters:
                - name: delivered
                  in: query
                  description: |-
                    Compares against `delivered_at`. `delivered=false` is the recovery
                     predicate: it selects every delivery that has never received a 2xx,
                     including deliveries whose retry ladder exhausted during an outage.
                  schema:
                    type: boolean
                - name: eventType
                  in: query
                  description: Exact event type, e.g. `pull_request.created`.
                  schema:
                    type: string
                - name: installationId
                  in: query
                  description: Narrow to one installation (`WebhookDelivery.installation.id`).
                  schema:
                    type: string
                - name: createdAfter
                  in: query
                  description: Bound the delivery's creation time. For browsing, not for recovery.
                  schema:
                    type: string
                    format: date-time
                - name: createdBefore
                  in: query
                  schema:
                    type: string
                    format: date-time
                - name: pageSize
                  in: query
                  description: Defaults to 30 when unset or 0. Values above 100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListWebhookDeliveriesResponse'
                            examples:
                                listWebhookDeliveries:
                                    value:
                                        deliveries:
                                            - id: whd_01k2ja2000e0080000000000j9
                                              event:
                                                id: evt_01k2ja2000e0080000000000r5
                                                type: pull_request.created
                                              installation:
                                                id: inst_01k2ja2000e0080000000000b2
                                                target:
                                                    slug: acme
                                                    id: ns_01k2ja2000e0080000000000p3
                                                    type: team
                                              createdAt: "2026-08-01T09:30:00Z"
                                              deliveredAt: "2026-08-02T14:45:05Z"
                                              lastAttempt:
                                                id: wha_01k2ja2000e0080000000000k0
                                                deliveryId: whd_01k2ja2000e0080000000000j9
                                                trigger: automatic
                                                responseStatusCode: 200
                                                latencyMs: 182
                                                attemptedAt: "2026-08-02T14:45:05Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:read
                ambient: true
    /v1/origin/app/webhook/deliveries:batchRedeliver:
        post:
            tags:
                - OriginService
            description: |-
                Asks Origin to send deliveries again.

                 The request means "ensure a send is in flight for each of these", not
                 "add another send". Follows BatchGetContents in returning one result per
                 unique input rather than failing the batch on a bad entry, so a single
                 expired id cannot block the rest of a recovery page.

                 Answers 202: the sends are queued, delivery itself is asynchronous. Poll
                 ListWebhookDeliveries for outcomes.
            operationId: OriginService_BatchRedeliverWebhookDeliveries
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/BatchRedeliverWebhookDeliveriesRequest'
                        examples:
                            batchRedeliverWebhookDeliveries:
                                value:
                                    deliveryIds:
                                        - whd_01k2ja2000e0080000000000j9
                required: true
            responses:
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "202":
                    description: 'Accepted: the sends are queued, delivery itself is asynchronous.'
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/BatchRedeliverWebhookDeliveriesResponse'
                            examples:
                                batchRedeliverWebhookDeliveries:
                                    value:
                                        results:
                                            - deliveryId: whd_01k2ja2000e0080000000000j9
                                              outcome: queued
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:write
                ambient: true
    /v1/origin/app/webhook/pings:
        post:
            tags:
                - OriginService
            description: |-
                Sends a synthetic `ping` test delivery to the authenticated app's
                 configured webhook URL and reports the receiver's response, so a
                 receiver can be verified during setup without waiting for a real event.

                 The ping is signed exactly like production deliveries, with event type
                 `ping` and a payload identifying the app. Its `webhook-signature` header
                 carries a `v1ed` Ed25519 signature over the lowercase hex SHA-256 digest
                 of `{webhook-id}.{webhook-timestamp}.{body}`; verify it against
                 `/v1/origin/keys`. The header names follow Standard Webhooks, but
                 Standard Webhooks libraries do not verify this signature. It is sent
                 once, synchronously, with no retries, and does not appear in
                 ListWebhookDeliveries. Requires a configured webhook URL; rejected with
                 FAILED_PRECONDITION otherwise.
            operationId: OriginService_PingWebhook
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/PingWebhookRequest'
                        examples:
                            pingWebhook:
                                value: {}
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/PingWebhookResponse'
                            examples:
                                pingWebhook:
                                    value:
                                        deliveryId: whd_01k2ja2000e0080000000000j9
                                        eventId: evt_01k2ja2000e0080000000000r5
                                        delivered: true
                                        responseStatusCode: 200
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - app
                scopes:
                    - app:webhook_deliveries:write
                ambient: true
    /v1/origin/apps/{appId}:
        get:
            tags:
                - OriginService
            description: |-
                Returns a single app by its identifier.

                 This is the management read for app publishers; GetAuthenticatedApp is
                 the equivalent self-read for the app's own JWT credential.
            operationId: OriginService_GetApp
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                getApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:apps:read
        patch:
            tags:
                - OriginService
            description: |-
                Updates an app's settings. Omitted fields are left unchanged; at least
                 one settable field must be provided.

                 Clearing `webhook_url` (providing it as an empty string) disables
                 outbound webhook delivery and cancels the app's pending deliveries;
                 re-setting a URL later does not resurrect cancelled deliveries.
            operationId: OriginService_UpdateApp
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                displayName:
                                    type: string
                                    description: New human-facing app name. Must not be empty when provided.
                                webhookUrl:
                                    type: string
                                    description: |-
                                        New outbound webhook delivery URL: an absolute https URL. Providing an
                                         empty string disables webhook delivery and cancels the app's pending
                                         deliveries.
                                events:
                                    allOf:
                                        - $ref: '#/components/schemas/AppEventsReplace'
                                    description: |-
                                        Clean replace of the outbound webhook event subscriptions. Absent leaves
                                         them unchanged; present with an empty list clears them.
                                description:
                                    type: string
                                    description: New app description. Absent leaves it unchanged; empty clears it.
                                websiteUrl:
                                    type: string
                                    description: New publisher website. Absent leaves it unchanged; empty clears it.
                                installationRedirectUris:
                                    allOf:
                                        - $ref: '#/components/schemas/AppInstallationRedirectUrisReplace'
                                    description: |-
                                        Clean replace of the OAuth install callback allowlist. Absent leaves it
                                         unchanged; present with an empty list clears it.
                                defaultScopes:
                                    allOf:
                                        - $ref: '#/components/schemas/AppDefaultScopesReplace'
                                    description: |-
                                        Clean replace of the app's default install scopes. Absent leaves them
                                         unchanged; present with an empty list clears them.
                        examples:
                            updateApp:
                                value:
                                    webhookUrl: https://ci.acme.dev/webhooks/origin-v2
                                    events:
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                            - repository.pushed
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                updateApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin-v2
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                            - repository.pushed
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-02T14:45:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/apps/{appId}/signing_keys:
        post:
            tags:
                - OriginService
            description: |-
                Adds a signing key to an app.

                 Apps hold a bounded set of active signing keys; adding a key beyond the
                 limit is rejected with a failed-precondition error until another key is
                 revoked. A key that is already registered is rejected with an
                 already-exists error.
            operationId: OriginService_AddAppSigningKey
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - publicKey
                            type: object
                            properties:
                                publicKey:
                                    type: string
                                    description: PEM SPKI Ed25519 public key to add to the app's signing key set.
                        examples:
                            addAppSigningKey:
                                value:
                                    publicKey: |-
                                        -----BEGIN PUBLIC KEY-----
                                        MCowBQYDK2VwAyEAq9zTf3hL6wXe1cVj0bYs5mKR8uDnG2oAaPp4NiEkKlM=
                                        -----END PUBLIC KEY-----
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/AppSigningKey'
                            examples:
                                addAppSigningKey:
                                    value:
                                        kid: 3q2xW9dK5fJm8vB1nY6cT0aZrQpLh4eGkVsN7uMxOdI
                                        createdAt: "2026-08-02T14:45:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "409":
                    description: The request conflicts with the current state of the resource.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/apps/{appId}/signing_keys/{kid}:
        delete:
            tags:
                - OriginService
            description: |-
                Revokes an app signing key by its key ID.

                 JWTs signed with a revoked key stop authenticating. The last active
                 signing key cannot be revoked; the request is rejected with a
                 failed-precondition error.
            operationId: OriginService_RevokeAppSigningKey
            parameters:
                - name: appId
                  in: path
                  description: App identifier.
                  required: true
                  schema:
                    type: string
                - name: kid
                  in: path
                  description: Key ID of the signing key to revoke.
                  required: true
                  schema:
                    type: string
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - app:settings:write
    /v1/origin/installation/repos:
        get:
            tags:
                - OriginService
            description: |-
                Lists repositories accessible to the authenticated app installation.

                 Requires an installation access token (`oit_`) minted by
                 CreateInstallationAccessToken.
            operationId: OriginService_ListAppInstallationRepositories
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Max repositories to return. Defaults to 30 when unset or 0. Values above
                     100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page. The same filter must be used when requesting subsequent pages.
                     `page_size` on a follow-up request applies to that page; omit it to keep
                     the previous page size.
                  schema:
                    type: string
                - name: filter
                  in: query
                  description: |-
                    Optional case-insensitive substring filter applied to repository names and
                     owner namespaces. A single-slash `owner/repo` value matches each half
                     against its corresponding field. Leading and trailing whitespace is
                     ignored; an empty value applies no filter.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListAppInstallationRepositoriesResponse'
                            examples:
                                listAppInstallationRepositories:
                                    value:
                                        repositories:
                                            - id: repo_01k2ja2000e0080000000000q4
                                              name: rocket
                                              fullName: acme/rocket
                                              webUrl: https://cursor.com/codebase/acme/rocket
                                              owner:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              defaultBranch: main
                                              createdAt: "2026-08-01T09:30:00Z"
                                              updatedAt: "2026-08-02T14:45:00Z"
                                              pushedAt: "2026-08-02T14:45:00Z"
                                              cloneUrl: https://origin.cursor.com/git/acme/rocket.git
                                        repoSelectionMode: selected
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                scopes:
                    - installation:metadata:read
                ambient: true
    /v1/origin/namespaces:
        get:
            tags:
                - OriginService
            description: |-
                Lists the namespaces the caller can list repos in, ordered by slug.

                 Candidates are the namespaces of the caller's teams, the caller's personal
                 namespace, and namespaces holding repos the caller was granted. Only those
                 on which the caller holds `namespace:repositories:read` are returned, so
                 every result is a valid `owner_slug` for `ListRepos`.
            operationId: OriginService_ListNamespaces
            parameters:
                - name: pageSize
                  in: query
                  description: |-
                    Max namespaces to return. Defaults to 30 when unset or 0. Values above
                     100 are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                     `page_size` on a follow-up request applies to that page; omit it to keep
                     the previous page size.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNamespacesResponse'
                            examples:
                                listNamespaces:
                                    value:
                                        namespaces:
                                            - namespace:
                                                slug: acme
                                                id: ns_01k2ja2000e0080000000000p3
                                                type: team
                                              viewerCanCreateRepositories: true
                                            - namespace:
                                                slug: jane
                                                id: ns_01k2ja2000e0080000000000p4
                                                type: user
                                              viewerCanCreateRepositories: false
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes: []
    /v1/origin/namespaces/{namespaceSlug}/apps:
        get:
            tags:
                - OriginService
            description: Lists apps owned by a namespace, ordered by creation time descending.
            operationId: OriginService_ListNamespaceApps
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace whose apps to list.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Max apps to return. Defaults to 30 when unset or 0. Values above 100 are
                     clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNamespaceAppsResponse'
                            examples:
                                listNamespaceApps:
                                    value:
                                        apps:
                                            - id: app_01k2ja2000e0080000000000a1
                                              displayName: CI Status Bot
                                              description: Posts CI status on pull requests.
                                            - id: app_01k2ja2000e0080000000000a2
                                              displayName: Deploy Bot
                                              description: ""
                                        nextPageToken: ""
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:apps:read
        post:
            tags:
                - OriginService
            description: |-
                Creates an app owned by a namespace.

                 Apps are created private. `public_key` must be a PEM SPKI Ed25519 public
                 key; the caller generates the key pair locally and retains the private
                 key, and only the public key is stored, for app JWT verification.
                 Invalid webhook URLs, event types, redirect URIs, or scopes are rejected
                 as invalid arguments.
            operationId: OriginService_CreateApp
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace that will own the app.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - displayName
                                - publicKey
                            type: object
                            properties:
                                displayName:
                                    type: string
                                    description: Human-facing app name. Must not be empty.
                                publicKey:
                                    type: string
                                    description: |-
                                        PEM SPKI Ed25519 public key for the app's signing key pair. The caller
                                         generates the key pair locally and retains the private key; only the
                                         public key is stored, for app JWT verification.
                                webhookUrl:
                                    type: string
                                    description: |-
                                        Outbound webhook delivery URL: an absolute https URL. Empty means the app
                                         receives no webhook deliveries.
                                events:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Outbound webhook event subscriptions (for example `pull_request.created`
                                         or `repository.pushed`). Unknown event types are rejected. Empty
                                         subscribes to no events: the app then receives only the `installation.*`
                                         events, which are always delivered and cannot be listed here. An event
                                         the app does not subscribe to produces no delivery.
                                description:
                                    type: string
                                    description: Short app description.
                                websiteUrl:
                                    type: string
                                    description: 'Publisher website: an absolute https URL.'
                                installationRedirectUris:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        OAuth install callback allowlist: redirect URIs an app-initiated install
                                         may return to (absolute https URI, no fragment), matched exactly at
                                         authorize time.
                                defaultScopes:
                                    type: array
                                    items:
                                        type: string
                                    description: |-
                                        Default scopes offered when the app is installed, as catalog scope
                                         strings (for example `repository:contents:read`). Installs still accept
                                         scopes explicitly.
                        examples:
                            createApp:
                                value:
                                    displayName: CI Status Bot
                                    publicKey: |-
                                        -----BEGIN PUBLIC KEY-----
                                        MCowBQYDK2VwAyEAv7wFoV1bC9yKq3nZ8dQmXh5uJb2tR4sEwG6aP0iN8kY=
                                        -----END PUBLIC KEY-----
                                    webhookUrl: https://ci.acme.dev/webhooks/origin
                                    events:
                                        - pull_request.created
                                        - pull_request.merged
                                    description: Posts CI status on pull requests.
                                    websiteUrl: https://ci.acme.dev
                                    installationRedirectUris:
                                        - https://ci.acme.dev/origin/setup
                                    defaultScopes:
                                        - repository:contents:read
                                        - repository:pull_requests:read
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/App'
                            examples:
                                createApp:
                                    value:
                                        id: app_01k2ja2000e0080000000000a1
                                        displayName: CI Status Bot
                                        webhookUrl: https://ci.acme.dev/webhooks/origin
                                        events:
                                            - pull_request.created
                                            - pull_request.merged
                                        createdAt: "2026-08-01T09:30:00Z"
                                        updatedAt: "2026-08-01T09:30:00Z"
                                        installationRedirectUris:
                                            - https://ci.acme.dev/origin/setup
                                        namespaceSlug: acme
                                        description: Posts CI status on pull requests.
                                        websiteUrl: https://ci.acme.dev
                                        defaultScopes:
                                            - repository:contents:read
                                            - repository:pull_requests:read
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - user
                scopes:
                    - namespace:apps:create
    /v1/origin/namespaces/{namespaceSlug}/grants:
        get:
            tags:
                - OriginService
            description: |-
                Lists who has been granted access to an owner: users, groups, and the
                 owning team's built-in admin and member groups. Each grant carries the
                 permission it confers on every repository under the owner. Grants made on
                 individual repositories are not included; see `ListRepositoryGrants`.
                 Requires the `namespace:settings:read` scope. Paginated with `page_size`
                 and `page_token`; default page size is 30, maximum is 100.
            operationId: OriginService_ListNamespaceGrants
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace whose grants to list.
                  required: true
                  schema:
                    type: string
                - name: pageSize
                  in: query
                  description: |-
                    Max grants to return. Defaults to 30 when unset or 0. Values above 100
                     are clamped to 100.
                  schema:
                    type: integer
                    format: int32
                - name: pageToken
                  in: query
                  description: |-
                    Opaque cursor from a previous response's `next_page_token`. Empty for the
                     first page.
                     `page_size` on a follow-up request applies to that page; omit it to keep
                     the previous page size.
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ListNamespaceGrantsResponse'
                            examples:
                                listNamespaceGrants:
                                    value:
                                        grants:
                                            - group:
                                                id: grp_01k2ja2000e0080000000000n2
                                              permission: PERMISSION_ADMIN
                                            - teamGroup:
                                                kind: admins
                                              permission: PERMISSION_ADMIN
                                            - teamGroup:
                                                kind: members
                                              permission: PERMISSION_CONTRIBUTOR
                                            - user:
                                                id: user_01k2ja2000e0080000000000c3
                                                email: jane@acme.dev
                                              permission: PERMISSION_WRITE
                                        nextPageToken: ""
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:read
        post:
            tags:
                - OriginService
            description: |-
                Sets the permission a user, group, or owning-team group holds directly on
                 an owner, replacing any permission previously granted directly to that
                 principal. Repeating a grant the principal already holds succeeds without
                 change. Only the four presets are accepted; `PERMISSION_CUSTOM` fails with
                 INVALID_ARGUMENT. A user must be an active member of the owning team or
                 its organization and a group an active group of that organization, and the
                 write must leave the owner with at least one admin; otherwise the request
                 fails with FAILED_PRECONDITION.
            operationId: OriginService_UpsertNamespaceGrant
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Namespace slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - permission
                            type: object
                            properties:
                                user:
                                    $ref: '#/components/schemas/OriginUserActor'
                                group:
                                    $ref: '#/components/schemas/OriginGroup'
                                teamGroup:
                                    $ref: '#/components/schemas/OriginTeamGroup'
                                permission:
                                    enum:
                                        - PERMISSION_READ
                                        - PERMISSION_CONTRIBUTOR
                                        - PERMISSION_WRITE
                                        - PERMISSION_ADMIN
                                        - PERMISSION_CUSTOM
                                    type: string
                                    description: |-
                                        `PERMISSION_READ`, `PERMISSION_CONTRIBUTOR`, `PERMISSION_WRITE`, or
                                         `PERMISSION_ADMIN`.
                        examples:
                            upsertNamespaceGrant:
                                value:
                                    user:
                                        id: user_01k2ja2000e0080000000000c3
                                    permission: PERMISSION_WRITE
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/NamespaceGrant'
                            examples:
                                upsertNamespaceGrant:
                                    value:
                                        user:
                                            id: user_01k2ja2000e0080000000000c3
                                            email: jane@acme.dev
                                        permission: PERMISSION_WRITE
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:write
        delete:
            tags:
                - OriginService
            description: |-
                Removes the permission a user, group, or owning-team group holds directly
                 on an owner. Per-repository grants are unaffected. Removing a permission
                 the principal does not hold directly succeeds without change; a removal
                 that would leave the owner without an admin fails with
                 FAILED_PRECONDITION.
            operationId: OriginService_DeleteNamespaceGrant
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Namespace slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                user:
                                    $ref: '#/components/schemas/OriginUserActor'
                                group:
                                    $ref: '#/components/schemas/OriginGroup'
                                teamGroup:
                                    $ref: '#/components/schemas/OriginTeamGroup'
                        examples:
                            deleteNamespaceGrant:
                                value:
                                    group:
                                        id: grp_01k2ja2000e0080000000000n2
                required: true
            responses:
                "204":
                    description: OK
                    content: {}
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:write
    /v1/origin/namespaces/{namespaceSlug}/inbound-ip-allowlist:
        get:
            tags:
                - OriginService
            description: |-
                Returns the namespace's inbound IP allowlist: whether it is enforced and
                 every entry, oldest first. Not paginated: a namespace lists at most 1000
                 entries. Allowlists are available on team namespaces that have the
                 feature enabled; other namespaces are rejected with FAILED_PRECONDITION.
                 Requires the `namespace:settings:read` scope.
            operationId: OriginService_GetInboundIpAllowlist
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Slug of the namespace whose allowlist to return.
                  required: true
                  schema:
                    type: string
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InboundIpAllowlist'
                            examples:
                                getInboundIpAllowlist:
                                    value:
                                        enabled: true
                                        entries:
                                            - id: nsip_01k2ja2000e0080000000000c4
                                              cidr: 203.0.113.0/24
                                              description: Office
                                              enabled: true
                                              createdAt: "2026-08-02T14:45:00Z"
                                            - id: nsip_01k2ja2000e0080000000000c5
                                              cidr: 198.51.100.7
                                              description: VPN egress
                                              enabled: false
                                              createdAt: "2026-08-03T09:10:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "429":
                    description: Too Many Requests
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                default:
                    description: Default error response
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "404":
                    description: The addressed resource, or its repository, does not exist or is not visible to the caller. Not-found and no-access are deliberately indistinguishable; a 404 never confirms that the resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
            x-origin-scopes:
                tokenTypes:
                    - installation
                    - user
                scopes:
                    - namespace:settings:read
        patch:
            tags:
                - OriginService
            description: |-
                Turns enforcement of the namespace's inbound IP allowlist on or off and
                 returns the allowlist. While enforced and at least one entry is enabled,
                 git over SSH and HTTPS, the API, and file downloads on the namespace's
                 repositories accept requests only from listed addresses. Enabling a list
                 that excludes the caller's own address is rejected with
                 INVALID_ARGUMENT; a caller the enforced list already excludes is
                 rejected with PERMISSION_DENIED. Setting the current value succeeds
                 without change.
            operationId: OriginService_UpdateInboundIpAllowlist
            parameters:
                - name: namespaceSlug
                  in: path
                  description: Namespace slug.
                  required: true
                  schema:
                    type: string
            requestBody:
                content:
                    application/json:
                        schema:
                            required:
                                - enabled
                            type: object
                            properties:
                                enabled:
                                    type: boolean
                                    description: |-
                                        True to enforce the namespace's inbound IP allowlist, false to stop
                                         enforcing it.
                        examples:
                            updateInboundIpAllowlist:
                                value:
                                    enabled: true
                required: true
            responses:
                "200":
                    description: OK
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/InboundIpAllowlist'
                            examples:
                                updateInboundIpAllowlist:
                                    value:
                                        enabled: true
                                        entries:
                                            - id: nsip_01k2ja2000e0080000000000c4
                                              cidr: 203.0.113.0/24
                                              description: Office
                                              enabled: true
                                              createdAt: "2026-08-02T14:45:00Z"
                "400":
                    description: Bad Request
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "401":
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/Status'
                "403":
                    description: Forbidden
                    content:
                        application/json:
                            schema:
[...]
